* {
    box-sizing: border-box;
}

body {
    margin: 30px 50px;
    padding: 0px;
    font-family: 'Noto Serif SC', serif;
    
}

a {
    font-style: none;
}

li {
    list-style: numbers;
}

figure {
    
    float: right;
    margin: 10px 10% 20px 10%;
}

table {
    border: 3px solid black;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

caption {
    border:  double black;
    
}

.foundation {
    margin-top: 40px;
}

.weather {
    text-align: -webkit-center
}


.hyuston_company {
    width: 100%;
    text-align: left;
}

.hyuston_population {
    text-align: left;
    margin-left: 0px;
    width: 50%;
}

.after-caption {
    text-align: left;
    caption-side: bottom; 
}